<ion-header>
  <ion-toolbar color="warning">
    <ion-back-button slot="start" color="dark">

    </ion-back-button>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="warning">
<ion-grid >
  <ion-row>
  <ion-col sizeMd="6" offsetMd="3">
  <ion-card color="light">




    <ion-card-header>
      <ion-card-title>Hanzala Sarguroh</ion-card-title>
      <ion-card-subtitle>Undergrad Engineer</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

    <ion-item  color="dark">
      <ion-icon name="logo-instagram" slot="start"></ion-icon>
      <ion-text><a href="https://instagram.com/hanzala.1.0?igshid=ZDc4ODBmNjlmNQ==">Instagram</a> </ion-text>
    </ion-item>
    <ion-item  color="dark">
      <ion-icon name="logo-github" slot="start"></ion-icon>
      <ion-text><a href="https://github.com/Hanzlah10">GitHub</a></ion-text>
    </ion-item>
  </ion-card-content>





  </ion-card>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>

<!-- <ion-content>
  <ion-grid >
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" sizeMd="6" >
        <div class="container">


       </div>
      </ion-col>
      <ion-col>
        <div class="heading">
        <h1><b> Hanzala Sarguroh </b></h1></div>
   Undergad Engineer
  </ion-col>
</ion-row>
  </ion-grid>
</ion-content> -->
